.container {
    width: 670px;
    position: relative;
}

.grid-squares {
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.home-city {
    background-color: blue;
    width: 30px;
    height: 35px;
}

.home-knight {
    background-color: deepskyblue;
    width: 30px;
    height: 30px;
    position: absolute;
}

.enemy-city {
    background-color: darkred;
    width: 30px;
    height: 35px;
    margin-top: -5px;
}

.enemy-attacker {
    background-color: red;
    width: 30px;
    height: 30px;   
}

.enemy-defense {
    background-color: red;
    width: 30px;
    height: 30px;   
}