body {
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Oswald', sans-serif;
    background-size: 125%;
    background-position: center;
}

.container {
    background-size: 100%;
    width: 1300px;
    /* position: fixed; */
}

.grid-squares {
    border: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    width: 60px;
    height: 60px;
}

.home-city {
    /* background-color: blue; */
    width: 60px;
    height: 65px;
}

.home-city-image {
    background-image: url(../images/home-city.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
}

.home-knight {
    background-image: url(../images/knight.gif);
    width: 60px;
    height: 60px;
    position: absolute;
}

.enemy-city {
    /* background-color: darkred; */
    width: 60px;
    height: 65px;
}

.enemy-city-image {
    background-image: url(../images/enemy-city.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 150px;
    margin-bottom: -30px;
    margin-left: -15px;
}

.enemy-attacker {
    background-image: url(../images/enemy.gif);
    width: 60px;
    height: 60px;   
}

.enemy-defense {
    background-image: url(../images/enemy.gif);
    width: 60px;
    height: 60px;   
}

.logo {
    text-align: center;
    padding-top: 100px;
}

.logo-img {
    text-align: center;
    width: 80%;
}

button {
    width: 85px;
    padding: 5px;
    margin: 10px 10px 30px 0;
    color: white;
    background-color: black;
    border: 1px solid white;
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;

}

.start-button {
    text-align: center;
}

.stats {
    width: 50%;
    display: inline;
    color: white;
    font-size: 26px;
    line-height: 2em;
    font-family: 'Oswald', sans-serif;
}

.pause-button {
    width: 50%;
    display: inline;
    margin-bottom: 30px;
    line-height: 1.5em;
    font-family: 'Oswald', sans-serif;
}

.game-over {
    width: 100%;
}

.victory {
    width: 100%;
}

#battle {
    background-image: url(../images/battle-unit.gif);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}