.container {
    width: 670px;
    position: relative;
}

.grid-squares {
    border: 1px solid black;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.home-city {
    background-color: blue;
    width: 30px;
    height: 30px;
}

.home-knight {
    background-color: deepskyblue;
    width: 30px;
    height: 30px;
    position: absolute;
}